*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(255, 255, 255);
    overflow:hidden;
}

#tomato{    
    width:300px;
    cursor:pointer;
    user-select:none;
    transition:transform 0.08s ease;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

#tomato.pressed{
    transform:scaleX(1.08) scaleY(0.88);
}